<!-- chat/templates/chat/admin.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categorie pages</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="row">
    <div class="col s12">
      <button class="waves-effect waves-light btn-large">
        <a  href="/room/admin/1/" class="white-text center">Premiere Épreuve</a></button>
    </div>
    <div class="col s12">
      <button class="waves-effect waves-light btn-large"><a href="/categories/admin/1/" class="white-text center">
        Deuxième Épreuve</a></button>
    </div>
    <div class="col s12">
      <button class="waves-effect waves-light btn-large"><a href="/room/admin/display/1/" class="white-text center">
        display Épreuve 1</a></button>
    </div>
    <div class="col s12">
      <button class="waves-effect waves-light btn-large"><a href="/categories/1/" class="white-text center">
        display Épreuve 2</a></button>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>

</html>